[submodule "src/apriltags2_ros"]
	path = src/apriltags2_ros
	url = https://github.com/dmalyuta/apriltags2_ros.git
[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
[submodule "src/orb_slam_2_ros"]
	path = src/orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros.git
